body{
    font-size: 15px;
    background: rgba(247, 233, 41, 0.3);
    margin: auto;
}
.skill-tree-category{
    background: #098;
    margin: 3% 30% 2% 30%;
    padding:2% 5% 2% 5%;
    background: linear-gradient(45deg, rgba(46, 223, 247, 0.884),white, rgb(52, 112, 109));
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0, 0.23);
    border-radius: 10%;
}
.skill-tree-skills-header{
    text-align: center;
    font: bold;
    color: rgba(255, 187, 0, 0.473);
}
.ghar-wali-bhar-wali{
    font-size: 30px;
    text-align: center;
    background: linear-gradient(45deg, rgba(46, 223, 247, 0.884),white, rgb(52, 112, 109));
}
